body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.home-btn {
  display: block;
  width: fit-content;
  margin: 20px 0 0 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #63a4ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.home-btn:hover {
  background-color: #0056b3;
}

.edit-table {
  width: 100%;
}

.edit-table td {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.edit-table input[type="text"],
.edit-table input[type="date"],
.edit-table select,
.edit-table input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #7197dd;
  border-radius: 5px;
  font-size: 18px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}
